body{background-color: lightcyan;
}

h1{
    color: skyblue;
}
h2{
    color: darkblue;
}
h3{
    color: black;
}
h4{
    color: black;
}

.LowerHalf{
    background-color:white;
    color: black;
    border-style: solid;
    border-color: black;
}

.Table{
    background-color: white;
    width: 350px;
    border-style: double;
}

.PicOfMe{
    width: 200px;
}
.TopHr{
    width: 380px;
}
.PortfolioArt{
    width: 128px;
    height: 128px;
    border-style: solid;
    border-color: black;
}